body {
    margin: 2em;
    /* color: #fff; */
    /* background-color: #000; */
}
img {
        max-height: 3em;
        width: auto;
        max-width: 70%;
}

/* override styles when printing */
@media print {
    body {
        font-style: normal;
        margin: 0;
        color: #000;
        background-color: #fff;
    }
    ul, p, aside, blockquote { font-size: 12pt; }
    h3 { font-size: 14pt; }
    h2 { font-size: 16pt; page-break-after: avoid; }
    h1 { font-size: 18pt; }
    h1:not(:first-child) { page-break-before: always; }
    table { page-break-inside: avoid; }
    img {
        max-height: 8cm;
        width: auto;
    }
    a[href]:after { display: none; }
}